body{
    margin: 0px;
    padding: 0px;
}
#container{
    display: flex;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    

}

.game-board{
    width: 500px;
    
 }

 .grid-content{
    height: 400px;
    width: 400px;
    background-color: lightgreen;
    border: 2px solid black;
    margin: 5px 475px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    
 }
 .grid-content div{
    border: 1px solid red;
    box-sizing: border-box;
    
 }



